# ignore clasp folder
clasp/

# ignore legacy folder
legacy/

# ignore testing folder
testing/

# ignore nodes_modules folder and files
node_modules/
package-lock.json
package.json


# ignore clasp files
.clasp.json
appsscript.json

